:root {
    --primary-color: #000000; /* Noir */
    --secondary-color: #00ff00; /* Vert */
    --tertiary-color: #ffff00; /* Jaune */
    --quaternary-color: #ff00ff; /* Violet */
    --quinary-color: #f7fff7; /* Blanc */
}
/* Police */
body {
    color: var(--primary-color);/* Applique la couleur des textes par défaut */
    background-color: var(--quinary-color);/* Applique la couleur des arrière-plans par défaut */
}

div{
    background-color: var(--quinary-color);
    border: var(--primary-color);
}
/* Boutons */
button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Liens */
a {
    color: var(--tertiary-color);
}

a:hover {
    color: var(--primary-color);
}

/* Titres */
h1,
h2,
h3 {
    color: var(--quaternary-color);
}